html { font-size: 62.5%; } 
body { font-size: 1.5rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */


body{
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-text-size-adjust: none;
}

h1{
	font-weight: 300;
	margin: 0px;
}

.text-center{
	text-align: center;
}
.footer{
	border-top: 1px solid #ccc;
	text-align: center;
	font-size: 1.0rem;
	padding: 10px;
	color: #999;
	margin-top: 30px;
}
.footer a{
	color: #999;
}
ul.menu{
	list-style: none;
	text-align: center;
	padding: 0px;
	margin-top: 0px;
}
ul.menu li{
	display: inline-block;
	
}
ul.menu li a{
	color: #000;
	text-decoration: none;
	font-size: 1.3rem;
}

ul.menu li a:hover{
	text-decoration: underline;
}

ul.menu  > li + li:before {
    color: #000;
    content: "// ";
    padding: 0 8px;
}

#mainimage{
	background: url('../img/main1.jpg') no-repeat center top;
	background-size: contain;
	height: 500px;
	width: 100%;
}

@media (max-width: 768px){
	#mainimage{
		height: 300px;
		background-position: center;
	}
}

ul.projectlist{
	list-style-type: square;
	
	
	margin-top: 50px;
}
ul.projectlist a{
	color: #000;
}

ul.projectlist h3,p{
	margin: 0px;
	
}
ul.projectlist p{
	font-weight: 300;
}

ul.projectlist h3{
	font-weight: 400;
}
ul.projectlist li{
	margin-bottom: 30px;
}
ul.projectlist li a:hover{
	color: #777;
}

.content{
	margin: 100px 0px;
}

#photos{
	text-align: center;
}
#photos img{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	max-width: 100%;
}
img.grayscale { 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

#quote{
	margin: 0 auto;
	text-align: center;
}

blockquote {
  
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}